<div class="col-lg-2">
  <h1 class="my-4"><%= t :data %></h1>
  <div class="list-group">
    <ul class="nav nav-sidebar">
      <li><%= link_to t(:user), admin_users_path %></li>
      <li><%= link_to t(:categories), admin_categories_path %></li>
      <li><%= link_to t(:word), admin_words_path %></li>
  </ul>
  </div>
</div>
