  <div class="list-group-item">
    <div class="row">
      <div class="col-md-3">
        <b><%= category.name %></b>
      </div>
      <div class="col-md-6"><%= category.description %></div>
      <div class="col-md-3">
        <%= link_to t(:details), category, class: "btn btn-primary" %>
        <%= link_to t(:start_lesson), category_lessons_path(category),
          method: :post, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
